# org.opencastproject.pm.syllabus.impl.scheduling.DassRequirementServicePublisher

# Indentify the requirement data default value [dass]
#db.identity=dass

# Database driver. Required for service to be available
#db.driver=com.mysql.jdbc.Driver

# Database URI. Default [jdbc:mysql://localhost:3306/dass]
#db.url=jdbc:mysql://localhost:3306/dass

# Database user. Required.
db.user=dass

# Database password. Required.
db.password=da20ss16
