# org.opencastproject.pm.syllabus.impl.SyllabusDataService

# Where to harvest the data from, the SyllabusService that provides the database
# connector must be deployed if true, default true
local = true

# The remote endpoint to use if local = false, default /syllabus
# See org.opencastproject.pm.syllabus.impl.scheduling.security RemoteAccessHttpsClient
# to set the host serving the endpoint
# remote.endpoint = /syllabus

# Participation management Room Parameters

capture.rooms = FACULTY_ROOM, FACULTY_CAMERA_ROOM, CENTRAL_ROOM, CENTRAL_CAMERA_ROOM

capture.room.FACULTY_ROOM.name = Faculty owned room
capture.room.FACULTY_ROOM.id = 1033C477B0EE92DEB3AF8B4349854106
capture.room.FACULTY_ROOM.inputs = screen

capture.room.FACULTY_CAMERA_ROOM.name = Faculty owned room with Camera
capture.room.FACULTY_CAMERA_ROOM.id = 1033C477B0EE92DEB3AF8B4349854109
capture.room.FACULTY_CAMERA_ROOM.inputs = screen|camera

capture.room.CENTRAL_ROOM.name = Centrally managed room
capture.room.CENTRAL_ROOM.id = 1033C477B0EE92DEB3AF8B43498540BA
capture.room.CENTRAL_ROOM.inputs = screen

capture.room.CENTRAL_CAMERA_ROOM.name = Centrally managed room with Camera
capture.room.CENTRAL_CAMERA_ROOM.id = 1033C477B0EE92DEB3AF8B43498540EB
capture.room.CENTRAL_CAMERA_ROOM.inputs = screen|camera

# Participation management Type Parameters
# if no capture.types are specified everything will be recorded

capture.types = LECTURE

capture.type.LECTURE.name = University Lecture
capture.type.LECTURE.id = 8E39CE2BC1060FFEECD1CA69BE24662E