# org.opencastproject.pm.syllabus.impl.snapcount.SnapCountServiceImpl.cfg

## Thresholds which will stop PM to OC Sync from being run if reached

# recordings changed, default: 200
recordings.threshold.changed = 200

# recordings deleted, default: 100
recordings.threshold.deleted = 100

# Error email sender, required
error.email.from.name = Snapcount Service
error.email.from.address = snapcount@university.org

# Error email recipient, required
error.email.to.address = error@university.org
