
# Schedule for the feeder to run
# See http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger
# run at 1am
cron=0 0 1 * * ?
organization=mh_default_org
run-on-start=false
schedule=false

# Participation management Room Parameters

capture.rooms = FACULTY_ROOM, CENTRAL_ROOM, CAMERA_ROOM
 
capture.room.FACULTY_ROOM.name = Faculty owned room
capture.room.FACULTY_ROOM.id = A3F2BF771062DBCA7C601F0D029443EB
capture.room.FACULTY_ROOM.inputs = screen

capture.room.CENTRAL_ROOM.name = Centrally managed room
capture.room.CENTRAL_ROOM.id = D782B07C9E6EC4B997D37C335ADEEDCD
capture.room.CENTRAL_ROOM.inputs = screen

capture.room.CAMERA_ROOM.name = Room equipped with PTZ-camera to track the Lecturer
capture.room.CAMERA_ROOM.id = 
capture.room.CAMERA_ROOM.inputs = screen|both|camera

# Participation management Type Parameters
# if no capture.types are specified everything will be recorded

capture.types = LECTURE, SEMINAR

capture.type.LECTURE.name = University Lecture
capture.type.LECTURE.id = C2DA2B3E5DBD6FC21E60D349A2A04BC0

capture.type.SEMINAR.name = University Seminar
capture.type.SEMINAR.id = 


