# Configuration for the LDAP Information Service

# This service provides Manchester university specific information which it 
# gets from an external LDAP server. The service provides a users spotId or 
# it verifies if a user is member of a specified group.

# org.opencastproject.ldapinfo.impl.LdapInfoServiceImpl

# LDAP information server enabled

enabled = false

# LDAP information server URL

ldap.url.infoserver = ldap://ldap.university.org

# LDAP directory server URL

ldap.dir.url.infoserver = ldap://dir.university.org

# spotId tag in the LDAP results

ldap.tag.spotId = spotId

# group Memebership tag in the LDAP results

ldap.tag.group = group

# LDAP directory Information tags/regex in LDAP results 

ldap.dir.tags.directoryInfo = status,eduPerson.*,name