# Whether the service is enabled, default false
enabled = true

# Whether to actively poll for changes in the instance's Lifecycle, default true
# if false you need to trigger a lambda function PUT {host}/termination/aws/autoscaling/state
lifecycle.polling.enabled = true

# How often with which to poll instance Lifecycle, default 300 seconds
lifecycle.polling.period = 10

# How often to notify the LifecycleHook that this node is still running jobs
# This value should be less than the LifecycleHooks heartbeat timeout, default 300 seconds
lifecycle.heartbeat.period = 300
