# org.opencastproject.pm.syllabus.impl.scheduling.DassRequirementServicePublisher

# Where to harvest the data from, default true
local = true

# If local the database must be configured

# The database name for the requirements service
# Courses returned by this service must be recorded and made available,
# overriding lecturer opt-out/edit choices

# Identify the requirement data default value [dass]
#db.identity=dass

# Database driver. defaults to [net.sourceforge.jtds.jdbc.Driver]
db.driver=com.mysql.jdbc.Driver

# Database URI. Required for service to be available
#db.url=jdbc:mysql://localhost:3306/dass

# Database user. Required.
#db.user=dass

# Database password. Required.
#db.password=CHANGE_ME

# The remote endpoint to use if local = false, default /requirement
# See org.opencastproject.pm.syllabus.impl.scheduling.security RemoteAccessHttpsClient
# to set the host serving the endpoint
#remote.endpoint = /requirement
