
# Schedule for the feeder to run
# See http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger
# run at 1am
cron=0 0 1 * * ?
organization=mh_default_org
run-on-start=false
schedule=false
