# DB information for the Syllabus+ database

# defaults to 'Syllabus+'
#db.identity=Syllabus+
# defaults to 'SQLServer'
#db.vendor=SQLServer
# defaults to 'com.microsoft.sqlserver.jdbc.SQLServerDriver'
#db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
# defaults to 'jdbc:sqlserver://localhost:1433;databaseName=ScientiaProdRDB'
#db.url=jdbc:sqlserver://localhost:1433;databaseName=sPlusDB
db.vendor=MySQL
db.driver=com.mysql.jdbc.Driver
db.identity=Syllabus+:Central_Timetable
db.url=jdbc:mysql://localhost:3306/splusCologne
db.user=sPlusUser
db.password=sPlusOpen
#db.schema can be provided for databases that use this extra structural layer 
#db.schema=rdowner
