# org.opencastproject.pm.syllabus.remote.scheduling.DassRequirementServicePublisherRemote

# Where to harvest the data from, default true
local = true

# If local the database must be configured

# The database name for the requirements service
# Courses returned by this service must be recorded and made available,
# overriding lecturer opt-out/edit choices

# Identify the requirement data default value [dass]
db.identity=dass

# Database vendor defaults to [MySQL]
db.vendor=MySQL

# Database driver. defaults to [com.mysql.jdbc.Driver]
db.driver=com.mysql.jdbc.Driver

# Database URI. Required for service to be available
db.url=jdbc:mysql://podcast-dev.it.manchester.ac.uk:3306/dass

# Database user. Required.
db.user=dass

# Database password. Required.
db.password=da20ss16

# If not local, the url of the endpoint
url = http://localhost:8080/requirements
