# org.opencastproject.pm.impl.ui.teacher.TeacherPm.cfg
# Configuration for properties used in the Teacher Participation Management.

## FUTURE EVENTS
# Recording inputs c.f. room configuration in :
# org.opencastproject.pm.syllabus.impl.scheduling.ParticipationFeederServiceImpl

# Specify the available recording options
capture.room.__ANY__.inputs = screen|camera|both

## PAST EVENTS
# Workflows,  c.f. workflow configuration in :
# org.opencastproject.pm.impl.scheduling.ScheduleFeederServiceImpl.cfg

# Specify the workflow definition to edit events
workflow.edit.definition=ng-schedule-upload

# Specify the workflow configuration to edit events
#workflow.edit.config.{property}={value}
workflow.edit.config.flagForCutting=true

# Specify the workflow definition to retract events
workflow.retract.definition=ng-retract

# The names of the config properties for specific usages
workflow.property.email=emailAddresses

# Editing

# editing server URL
edit.server=http://localhost:8080

