# org.opencastproject.pm.syllabus.impl.security.RemoteAccessHttpsClient.cfg

# A secure client that uses HTTPS + digest credentials + client certificate to
# access remote resources

# The hostname of the remote access service "bridge", required
remote.host=bridge.example.com

# The digest credentials for the remote access REST endpoints, required
remote.user=opencast_system_account

remote.password=CHANGE_ME

# The PKCS12 keystore file containing this clients certificate and key, required
key.filename=${karaf.etc}/certs/client.p12

# The passphrase used to encrypt key.filename, required
key.passphrase=CHANGE_ME

# The connection protocol to use, this should be the most secure protocol supported by the server
# see https://docs.oracle.com/javase/8/docs/technotes/guides/security/jsse/JSSERefGuide.html#T5
# default TLSv1.2
#ssl.protocol=TLSv1.2