# org.opencastproject.pm.syllabus.impl.SyllabusServicePublisher.cfg

# Database information for the Syllabus+ database
# The Syllabus+ database is usually MS SQLServer and the default values assume that
# The dummy test Syllabus+ database can be deployed using MySQL/MariaBD and the settings
# for that are provided below

# Identity of this connection defaults to [Syllabus+]
# db.identity=Syllabus+

# Database vendor defaults to [SQLServer]
db.vendor=MySQL

# Java driver class for database, defaults to [net.sourceforge.jtds.jdbc.Driver]
db.driver=com.mysql.jdbc.Driver

# Database URL, required for service to be available
# eg jdbc:jtds:sqlserver://timetable.my.org:1433/Scientia
# Uncomment the next line if you have set up the test database
#db.url=jdbc:mysql://localhost:3306/splusCologne

# Data user credentials, required
db.user=sPlusUser
db.password=sPlusOpen

#db.schema can be provided for databases (eg SQLServer) that use this extra structural layer
#db.schema=rdowner
